.summarySectionContainer{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid gray;
}

.headingSec div{
    display: flex;
}

.headingSec{
    padding: 30px;
}

.summaryContent{
    padding: 50px;
    padding-top: 20px;
    font: 18px oblique;
}

.summaryCont{
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    
}

.productsNotFound{
    padding: 30px;
    color: red;
    font-weight: bolder;
}

table {
    border: 0.3px solid lightgray;   
    border-collapse: collapse;  
    table-layout: fixed;
    width: 100%;
    }

.headingCSS{
    border: 0.3px solid lightgray; 
    border-bottom: 6px lightgray solid;  
    border-collapse: collapse; 
}

th,td{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cell{
    text-decoration: underline;
}

.dataCSS{
    font-weight: bold;
}


