<div class="summarySectionContainer">
    <div class="headingSec">
        <div class="summaryCont">Funding Rounds:</div>
    </div>
    <div class="summaryContent" *ngIf="fundingRounds.length">
        <table>
            <tr class="headingCSS">
                <th>Founding Round</th>
                <th>Raised Amount</th>
                <th>Currency</th>
                <th>Funded Year</th>
            </tr>
            <tr *ngFor= "let fund of fundingRounds">
                <td>
                    <button (click)="openFundingDetails(fund.investments)">{{ fund.roundCode}} (id : {{fund.id}})</button>
                </td>
                <td>{{ fund.raisedAmount }}</td>
                <td>{{ fund.raisedCurrencyCode }}</td>
                <td>{{ fund.fundedYear }}</td>
             </tr>
        </table>   
    </div>
    
    <div class="productsNotFound" *ngIf="!fundingRounds.length">
      <h3>No Data Found!!</h3>
    </div>

    <div class="table-container">
    <ng-template #dialogRef let-mydata>
        <h3>Invested By</h3>
        <div *ngIf="mydata">
            <table class="table">
              <tr class="table-row" *ngFor= "let inv of mydata">
                <td>
                    <div *ngIf="inv.financialOrg">
                        Financial Org: &nbsp;
                        {{inv.financialOrg.name}}
                    </div>
                    <div *ngIf="inv.person">
                        Person: &nbsp;
                        {{inv.person.firstName}} {{inv.person.lastName}}
                    </div>
                    <div *ngIf="inv.company">
                        Person: &nbsp;
                        {{inv.company.name}}
                    </div>
                </td>
              </tr>
            </table>
          </div>
          <button mat-button mat-dialog-close="I am from dialog land close...">Close</button>
    </ng-template>
</div>
</div>
