<div class="azContainer">
    <a id="link-A" href="javascript:void(0);" (click)="search('A')">A</a> | 
    <a id="link-B" href="javascript:void(0);" (click)="search('B')">B</a> | 
    <a id="link-C" href="javascript:void(0);" (click)="search('C')">C</a> | 
    <a id="link-D" href="javascript:void(0);" (click)="search('D')">D</a> | 
    <a id="link-E" href="javascript:void(0);" (click)="search('E')">E</a> | 
    <a id="link-F" href="javascript:void(0);" (click)="search('F')">F</a> | 
    <a id="link-G" href="javascript:void(0);" (click)="search('G')">G</a> | 
    <a id="link-H" href="javascript:void(0);" (click)="search('H')">H</a> | 
    <a id="link-I" href="javascript:void(0);" (click)="search('I')">I</a> | 
    <a id="link-J" href="javascript:void(0);" (click)="search('J')">J</a> | 
    <a id="link-K" href="javascript:void(0);" (click)="search('K')">K</a> | 
    <a id="link-L" href="javascript:void(0);" (click)="search('L')">L</a> | 
    <a id="link-M" href="javascript:void(0);" (click)="search('M')">M</a> | 
    <a id="link-N" href="javascript:void(0);" (click)="search('N')">N</a> | 
    <a id="link-O" href="javascript:void(0);" (click)="search('O')">O</a> | 
    <a id="link-P" href="javascript:void(0);" (click)="search('P')">P</a> | 
    <a id="link-Q" href="javascript:void(0);" (click)="search('Q')">Q</a> | 
    <a id="link-R" href="javascript:void(0);" (click)="search('R')">R</a> | 
    <a id="link-S" href="javascript:void(0);" (click)="search('S')">S</a> | 
    <a id="link-T" href="javascript:void(0);" (click)="search('T')">T</a> | 
    <a id="link-U" href="javascript:void(0);" (click)="search('U')">U</a> | 
    <a id="link-V" href="javascript:void(0);" (click)="search('V')">V</a> | 
    <a id="link-W" href="javascript:void(0);" (click)="search('W')">W</a> | 
    <a id="link-X" href="javascript:void(0);" (click)="search('X')">X</a> | 
    <a id="link-Y" href="javascript:void(0);" (click)="search('Y')">Y</a> | 
    <a id="link-Z" href="javascript:void(0);" (click)="search('Z')">Z</a> |
    <a id="link-A;;" href="javascript:void(0);" (click)="search('All')">All</a>
</div>
