.filterContainer{
    padding-top: 5px;
    position: fixed;
    overflow: hidden;
    border-right: 0.1px solid lightgray;
    
}

.nav-link{
    font-size: 20px;
}

.btn{
    font-size: 18px;
    background-color: gray;
    color: white;
    margin-top: 5px;
    align-content: center;
}
