<div class="filterContainer">
  <div class="m-4">
    <div class="filterCont">
      <h4>Category:</h4>
      <select [(ngModel)]="categorySelected">
        <option *ngFor="let category of categories" [value]="category">
          {{category}}
        </option>
      </select>
    </div>
    <hr>
    
    <div class="filterCont">
      <h4>Number Of Employees:</h4>
      <select [(ngModel)]="noOfEmployeesSelected">
        <option *ngFor="let item of items" [value]="item">
          {{item}}
        </option>
      </select>
    </div>
    <hr>

    <div class="filterCont">
      <h4>Founded Year Range:</h4>
      <select [(ngModel)]="yearRangeSelected" (change)="changeRange()">
        <option *ngFor="let item of yearRange" [value]="item">
          {{item}}
        </option>
      </select>
    </div>
    <br>
    
    <div class="filterCont">
      <h4>Founded Year:</h4>
      <select [(ngModel)]="yearSelected">
        <option [value]="null">Please select</option>
        <option *ngFor="let year of years" [value]="year">
          {{year}}
        </option>
      </select>
    </div>
    <hr>
    
    <div class="nav-item dropdown ms-auto filterCont">
      <h4>Tag:</h4><input type="text" [(ngModel)]="tagSelected">
    </div>
    <hr>
    
    <div class="nav-item dropdown ms-auto filterCont">
      <h4>Invested On:</h4><input [(ngModel)]="investSelected">
    </div>
    <hr>
    
    <div class="nav-item dropdown ms-auto filterCont">
      <h4>Funded By:</h4><input [(ngModel)]="fundSelected">
    </div>
    <hr>
    
    <div>
      <button class="btn" (click)="applyFilters()">Apply Filters</button>
      </div>
      <div>
        <button class="btn" (click)="clear()">Clear</button>
        </div>
  </div>
</div>