<div class="homeContainer" style="margin-top: 70px;">
    <div class="row">
        <div class="col-md-3 filterDiv">
            <app-filter-section></app-filter-section>
        </div>
        <div class="col-md-9">
            <app-az-search></app-az-search>
            <div class="row">
              <div class="col-md-9">
                <app-search-result></app-search-result>
              </div>
              <div class="col-md-3">
                  <app-news-api></app-news-api>
              </div>
            </div>
        </div>
      </div>
</div>
