<div class="summarySectionContainer">
    <div class="headingSec">
        <div class="summaryCont">Contacts: &nbsp; &nbsp;
            <input 
            [(ngModel)]="searchValue" (keyup)="search()" type="text" 
            id="searchKey" class="form-control"
            placeholder="Search Name..." />
        </div>
    </div>

    
    <div class="summaryContent" *ngIf="filteredItems.length">
        <table>
            <tr class="headingCSS">
                <th>Title</th>
                <th>Name</th>
                <th>Current/Former</th>
            </tr>
            <tr *ngFor= "let rel of filteredItems">
                <td>{{ rel.title}}</td>
                <td>{{ rel.person.firstName }} {{ rel.person.lastName }}</td>
                <td *ngIf = "rel.past == false">Current</td>       
                <td *ngIf = "!(rel.past == false)">Former</td>         
             </tr>
        </table>  
    </div>
    
    <div class="productsNotFound" *ngIf="!relationships.length">
      <h3>No Contacts Found!!</h3>
    </div>
</div>
